@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    color-scheme: light dark;
}

html body {
    font-family: "Roboto", sans-serif;
    padding: 20px;
    word-wrap: break-word;
}

table,
th,
td {
    text-align: left;
    padding: 5px;
    font-weight: normal;
}

.flavor_long {
    font-size: 75%;
}

.locked {
    color: gray;
}

@media (prefers-color-scheme: dark) {}